* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
.App {
  min-height: 100vh;
}

/*Navbar*/
.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
  background-color: whitesmoke;
}
.navbar .link {
  margin-left: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
.navbar .bookmarked {
  position: relative;
}
.navbar .bookmarked .bookmark_num {
  position: absolute;
  top: 0;
  right: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: bold;
}

/*Header*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search .image img {
  width: 300px;
}
.search .input_search input {
  border: 2px solid lightgray;
  width: 300px;
  padding: 5px 10px;
  font-size: 17px;
}
.search .input_search input:focus {
  outline: none;
}

/*Caracters*/
.caracters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.caracters .loading {
  padding: 30px 0px;
}
.caracters .caracters_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 10px;
}
.caracters .caracters_wrapper .caracter {
  border: 1px solid gray;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.caracters .caracters_wrapper .caracter .picture img {
  width: 100%;
}
.caracters .caracters_wrapper .caracter .name h4 {
  font-weight: 200;
  text-align: center;
}
.caracters .caracters_wrapper .caracter .name button {
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 5px 0px;
  margin-top: 10px;
}
.caracters .caracters_wrapper .caracter .name button:hover {
  background-color: lightgray;
}

/*Bookmarked*/
.bookmarked {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bookmarked h1 {
  text-align: center;
  font-weight: 200;
  padding: 20px 0px;
}
.bookmarked .no_bookmarked {
  text-align: center;
}
.bookmarked .bookmarked_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
}
.bookmarked .bookmarked_wrapper .caracter {
  border: 1px solid gray;
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bookmarked .bookmarked_wrapper .caracter .picture img {
  width: 100%;
}
.bookmarked .bookmarked_wrapper .caracter .name h4 {
  font-weight: 200;
  text-align: center;
}
.bookmarked .bookmarked_wrapper .caracter .name .delete {
  background-color: tomato;
  color: white;
  border: none;
  width: 100%;
  cursor: pointer;
  padding: 5px 0px;
  margin-top: 10px;
}
.bookmarked .bookmarked_wrapper .caracter .name .delete:hover {
  background-color: rgb(255, 133, 111);
}

/*Pagination*/
.paginationContainer {
  display: flex;
  list-style-type: none;
  margin: 20px 0px;
}
.paginationContainer a {
  margin: 5px;
  padding: 4px 10px;
  font-size: 18px;
  color: black;
  border: 2px solid rgb(141, 141, 141);
  cursor: pointer;
}
.paginationContainer a:hover {
  background-color: lightgray;
}
.paginationActive a {
  background-color: lightgray;
  color: black;
  font-weight: bold;
}

@media screen and (max-width: 950px) {
  .caracters .caracters_wrapper, .bookmarked .bookmarked_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .caracters .caracters_wrapper,  .bookmarked .bookmarked_wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}