* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  /* background-color: rgb(19, 19, 19); */
  min-height: 100vh;
}

/*Header*/
.search {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.search .image img {
  width: 300px;
}
.search .input_search input {
  border: 2px solid gray;
  width: 300px;
  padding: 10px;
  font-size: 18px;
}
.search .input_search input:focus {
  outline: none;
}

/*Caracters*/
.caracters {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.caracters .caracters_wrapper {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.caracters .caracters_wrapper .caracter {
  border: 1px solid black;
}

/*Footer*/
.footer {
  text-align: center;
  padding: 20px;
  font-size: 20px;
}